<?xml version="1.0" encoding="UTF-8"?>
<installdata>
	<package>
		<name>русской версии Invision Power Board</name>
		<version>2.2.1</version>
		<versionlong>22101</versionlong>
		<build>1134742970</build>
		<license>Мы настоятельно рекомендуем вам внимательно ознакомиться с данным документом. В нем содержится информация о том, какие правила будут регламентировать права и обязанности сторон, подписавших данное соглашение. Обратите внимание на выполнение обязательных условий при использовании нашего продукта, как при самостоятельной установке, так и при обращении в службу технической поддержки.

Invision Power Services, Inc.
Продукт: Invision Power Board
Лицензионное соглашение (для версии 2.2.x)

ЛИЦЕНЗИЯ
В рамках данного лицензионного соглашения покупатель (далее Заказчик) программного обеспечения Invision Power Board (далее Система) получает право на однократную установку Системы только на один URL адрес сайта (далее Адрес), указанный при заказе.
Исключительные права на Систему остаются у компании Invision Power Services Inc. (далее Исполнитель).

СРОКИ
Invision Power Board имеет годовую лицензию. В нее входит техническая поддержка сроком на один год, а также доступ к дистрибутиву Системы и ее обновлениям (по мере их публикации) сроком на один год. После истечении срока действия лицензии Система останется полностью функциональной, но вы уже не будете иметь доступа к технической поддержке и обновлениям.

Права и обязанности сторон

Вы имеете право:

    * изменять дизайн и структуру программного продукта, в соответствии с нуждами вашего сайта, но не нарушая других условий данного соглашения.
    * разрабатывать и распространять инструкции по созданным вами модификациям, стилям и другим дополнительным компонентам к Системе, но в них должно указываться на настоящего разработчика Системы до ваших модификаций, т.е. на Исполнителя. Модификации, произведенные вами самостоятельно, не являются собственностью Исполнителя, если не содержат исходный код Системы.
    * создавать приложения, интерфейс которых будет успешно работать с Системой, указав, что это ваш оригинальный продукт.


Вы не имеете право:

    * передавать права на использование Системы третьим лицам, кроме случаев перечисленных выше.
    * изменять структуру исходного кода, функции программы или создавать собственные продукты, базирующиеся на исходном коде Системы, либо использовать Систему вне вашего сайта.
    * использовать Систему для пропагандирования терроризма, развития пиратского программного обеспечения и других нелегальных материалов.
    * изменять или удалять любые упоминания об авторских правах (copyrights) в Системе, указываемые в нижней части каждой страницы форума (кроме случаев, когда вы приобрели разрешение на удаление этих строк), а также указанные в верхней части исходного кода каждого файла.
    * распространять Систему.
    * распространять индивидуальные копии файлов, библиотек и другого исходного кода Системы.
    * распространять или модифицировать любую графику, HTML, CSS Системы в вашем индивидуальном программном обеспечении, отличном от Системы, а также на вашем сайте.
    * модифицировать Систему для работы одного комплекта исходных файлов сразу на нескольких Адресах (URL, доменах, поддоменах, и т.д.). Для каждого форума требуется отдельная лицензия.


ГАРАНТИЙНОЕ ОБЯЗАТЕЛЬСТВО
Система распространяется в соответствии с условием «AS IS» (как есть), без гарантий любого рода, включая отсутствие ограничения гарантий на продажу, приобретение частей или целого не сертифицированного продукта. Весь риск за совершение данной сделки по отношению к качеству продукта ложится на вас. Если вы приобретаете Систему, то вы, а не Исполнитель, должны оплачивать техническую поддержку и исправление неполадок по работе вашего сервера и форума. В дополнение мы хотим отметить, что механизмы безопасности, установленные в Системе, имеют известные ограничения, и вы должны быть ознакомлены с отсутствием абсолютных гарантий от взлома вашего сайта или форума хакерами. Этот отказ от гарантий является одной из составных частей нашего лицензионного соглашения.

ЗАГОЛОВКИ
Заголовки, права владельца и права на интеллектуальную собственность принадлежат Исполнителю. Система защищена законом об авторских правах. Заголовки и содержание страниц, создаваемых Системой, любые публикуемые оригинальные материалы и связанные с этим права на них, также как и материалы, создаваемые в результате использования Системы, являются собственностью покупателя Системы и защищены законом. Мы не несем никакой ответственности за содержание ваших сайтов и форумов. Данная лицензия не передает Invision Power Services Inc. права на вашу интеллектуальную собственность.

РАСТОРЖЕНИЕ ЛИЦЕНЗИОННОГО СОГЛАШЕНИЯ
Данное соглашение расторгается автоматически, если вы нарушаете его условия. После расторжения вы обязуетесь уничтожить все имеющиеся у вас Системы в течение 48 часов. Расторжение лицензионного соглашения лицензии из-за нарушения его условий не приводит к выплатам покупателю за лицензию.

СОДЕРЖАНИЕ
Исполнитель оставляет за собой право публиковать списки избранных клиентов своих программных продуктов. Исполнитель оставляет за собой право в любое время изменять условия данного лицензионного соглашения, но данные действия не имеют и не будут иметь обратной силы. Изменения данного договора будут отправлены клиентам по электронной почте. Отсутствие у клиентов письма с уведомлением не является причиной невыполнения изменившихся условий использования наших программных продуктов. Копия данного лицензионного соглашения и его изменения будут доступны на сайте Исполнителя.

Пакеты стилей и языковые пакеты также защищены договорами, как и наши программные коды, тексты файлов и графика, если вы получили их с нашего сайта.

Наши гарантии и техническая поддержка не распространяются на модификации, произведенные третьей стороной, включая изменения исходного кода Системы, стиля и языковых пакетов, как и на изменения перечисленных частей владельцем лицензии самостоятельно. Если Система изменена вами или третьей стороной, то Исполнитель вправе отказать вам в технической поддержке.

УПОМИНАНИЕ ОБ АВТОРСКИХ ПРАВАХ
Разрешение на удаление упоминаний об авторских правах может быть дано клиенту от Исполнителя за определенную плату. Это разрешение дает право на удаление упоминаний об авторских правах на страницах форума, но не дает право удалять их из файлов с исходным кодом.

ЗАКОН ОБ ИСПОЛЬЗОВАНИИ
Данное лицензионное соглашение находится в полном соответствии с законами штата Virginia, США.
Любые нарушения данного соглашения являются предметом судебного разбирательства, как авторских прав.

ПРОИЗВОДИТЕЛЬ
Invision Power Services, Inc., United States, 1115 Vista Park Drive Suite C, Forest, VA 24551.
По всем вопросам, пишите на e-mail info@invisionpower.com, на наш адрес sales@ibresource.ru, или звоните +1-434-316-7201.</license>
	</package>
</installdata>